<html>
    <!---
    Registration ka page hai
    form ke 2 section hai
    1)section: new user ka detail
    2) section : admin ka password or username agar sahi hai to user registered
    ###NAME ATTRIBUTE KO HAAT MAAT LEGANA BHAI!####
    -->
    <body>
        <form th:action="@{/registerhtml}" method="post">
            <div><label> User Name : <input type="text" name="username"/> </label></div>
            <div><label> Password: <input type="password" name="password"/> </label></div>
            <div><label> name: <input type="text" name="name"/> </label></div>
            <div><label> position: <input type="text" name="position"/> </label></div>
            <hr>
            <div><label> User Name : <input type="text" name="adminusername"/> </label></div>
            <div><label> Password: <input type="password" name="adminpassword"/> </label></div>
            <div><input type="submit" value="Sign In"/></div>
        </form>
    </body>
</html>