<html>
    <body>
        <form th:action="@{/registerhtml}" method="post">
            <div><label> User Name : <input type="text" name="username"/> </label></div>
            <div><label> Password: <input type="password" name="password"/> </label></div>
            <div><label> name: <input type="text" name="name"/> </label></div>
            <div><label> position: <input type="text" name="position"/> </label></div>
            <hr>
            <div><label> User Name : <input type="text" name="adminusername"/> </label></div>
            <div><label> Password: <input type="password" name="adminpassword"/> </label></div>
            <div><input type="submit" value="Sign In"/></div>
        </form>
    </body>
</html>