<!DOCTYPE html>
<!--
    logout hota hai edhar se dont do anything to the form for now
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>secured</title>
    <link th:href="@{/css/navbar.css}" rel="stylesheet" />
    <link th:href="@{/css/table.css}" rel="stylesheet" />
    <link th:href="@{/css/buttonCss.css}" rel="stylesheet" />
    <link th:href="@{/css/input.css}" rel="stylesheet" />
</head>
<body>
    <div class="wrapper" >
  
        <div class="top_navbar">
          <div class="hamburger">
             <div class="one"></div>
             <div class="two"></div>
             <div class="three"></div>
          </div>
          <div class="top_menu">
            <div class="logo">
                <span th:remove="tag" sec:authentication="name">thymeleaf</span> 
            </div>
            <ul>
             
                <li><a href="/secured">
                    <img id="try" th:src="@{/icons/lock-solid.svg}">
                  </a></li>
                  <li><a href="#">
                    <img id="try" th:src="@{/icons/bell-solid.svg}">  
                    </a></li>
                  <li><a href="#">
                    <img id="try" th:src="@{/icons/user-regular.svg}">
                  </a></li>
                  
            </ul>
          </div>
        </div>
        
        <div class="sidebar">
            <ul>
              <li><a href="/admin/add">
                <span id="sideicon" > <img th:src="@{/icons/file-regular.svg}"></span>
                <span class="title">Add user</span>
                </a></li>

                <li><a href="/gallery">
                    <span id="sideicon" > <img th:src="@{/icons/table-solid.svg}"></span>
                    <span class="title">Gallery</span>
                </a></li>
             
              <li><a href="/logout">
                <span id="sideicon" > <img th:src="@{/icons/right-from-bracket-solid.svg}"></span>
                <span class="title">Logout</span>
                </a>
            </li>
          </ul>
        </div>
        <div class="main_container">

            <div class="container">
                <table >
                    <thead >
                    <tr>
                        <th>User</th>
                        <th>Name</th>
                        <th>Email</th>

                    </tr>
                    </thead>
                    <tbody >
                    <tr th:each="user: ${users}" >
                        <td th:text="${user.getUsername()}"></td>
                        <td th:text="${user.getName()}"></td>
                        <td th:text="${user.getEmail()}"></td>

<!--                        <td><form action="/download">-->
<!--                            <button class="button" type="submit" th:value="${user.getId()}" name="download">Dowload</button>-->
<!--                        </form></td>-->
                    </tr>


                    </tbody>
                </table>
            </div>


        </div>

    </div>
   



<script type="text/javascript" th:src="@{/js/nav.js}"></script>
</body>
</html>
