<!DOCTYPE html>
<html>

<head>
    <title>College Time Table</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th,
        td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>

<body>

    <h2>College Time Table</h2>
    <br>
    <table>
        <thead>
            <tr>
                <th>Day / Time</th>
                <th>10.25 to 12.15</th>
                <th>12.15 to 1.05</th>
                <th>1.05 to 2.00</th>
                <th>2.00 to 2.55</th>
                <th>2.55 to 3.05</th>
                <th>3.05 to 4.00</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Monday</td>
                <td>OOPL-B1, DBMSL-B2, AWTL-B3</td>
                <td>R</td>
                <td>OOP</td>
                <td>DBMS</td>
                <td>R</td>
                <td>AWT</td>
            </tr>
            <tr>
                <td>Tuesday</td>
                <td>OOPL-B2, DBMSL-B1, ELE-II-B3</td>
                <td>E</td>
                <td>UI/UX</td>
                <td>OOP</td>
                <td>E</td>
                <td>ELE-I</td>
            </tr>
            <tr>
                <td>Wednesday</td>
                <td>OOPL-B3, DBMSL-B2, AWTL-B1</td>
                <td>C</td>
                <td>OOP</td>
                <td>DBMS</td>
                <td>C</td>
                <td>ELE-II</td>
            </tr>
            <tr>
                <td>Thursday</td>
                <td>OOPL-B1, DBMSL-B1, AWTL-B2</td>
                <td>E</td>
                <td>UI/UX</td>
                <td>OOP</td>
                <td>E</td>
                <td>ELE-I</td>
            </tr>
            <tr>
                <td>Friday</td>
                <td>OOPL-B2, DBMSL-B3, ELE-II-B2</td>
                <td>S</td>
                <td>DBMS</td>
                <td>AWT</td>
                <td>S</td>
                <td>AC</td>
            </tr>
            <tr>
                <td>Saturday</td>
                <td>OOPL-B2, DBMSL-B3, ELE-II-B1</td>
                <td>S</td>
                <td>AWT</td>
                <td>UI/UX</td>
                <td>S</td>
                <td></td>
            </tr>
        </tbody>
    </table>

    <table>
        <tr>
            <th>Course</th>
            <th>Course Teacher</th>
            <th>Room No.</th>
        </tr>
        <tr>
            <td>Object Oriented Programming</td>
            <td>Archana L. Rane</td>
            <td>D502</td>
        </tr>
        <tr>
            <td>Database Management System</td>
            <td>Dr. V. R. Dhavale </td>
            <td> D502</td>
        </tr>
    </table>
</body>

</html>